@import "../../styles/components/_mixins.scss";
@import "../../styles/components/_vars.scss";

.header {
  padding-top: 20px;
  height: auto;
  width: 100%;
  background: url("../../pages/images/header-section/header-img.svg") no-repeat
    center / cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 60px 0 80px;

    width: 100%;
    // flex-wrap: wrap;

    @include xl {
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include md {
      padding: 40px 0 60px;
    }

    .left {
      width: 50%;

      @include xl {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include xl {
        width: 100%;
      }
    }
  }
}
