@import "../../styles/components/_vars.scss";
@import "../../styles/components/_mixins.scss";

.wrap {
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 60px 0 80px;
  // overflow: hidden;
  position: relative;

  @include lg {
    text-align: center;
    align-items: center;
  }

  @include lg {
    padding-bottom: 10px;
  }

  @include md {
    padding-top: 0;
  }

  .title {
    font-weight: $f700;
    font-size: 55px;
    line-height: 75px;

    @include xl {
      font-size: 40px;
      line-height: 55px;
    }

    @include md {
      font-size: 40px;
      width: 100%;
      max-width: 343px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-top: 18px;

    @include xl {
      // width: 250px;
    }

    @include md {
      width: 100%;
    }
  }

  .play {
    width: 100%;
    max-width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0;
    min-width: 88px;
    min-height: 88px;
    height: auto;

    .image {
      width: 88px;
      height: 88px;
    }

    img {
      height: auto;
      width: 100%;
    }

    span {
      font-weight: $f700;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    // background: #000;

    // @include xl {
    //   // flex-wrap: wrap;
    // }

    // @include lg {
    //   max-width: 480px;
    // }

    // @include md {
    //   // display: none;
    //   position: absolute;
    //   // flex-direction: column;
    //   width: 442px;
    //   bottom: -174%;
    //   bottom: -100%;
    // }

    // @include media(530px) {
    // }

    // @include media(520px) {
    //   bottom: -163%;
    //   bottom: -170%;
    //   bottom: -167%;
    // }

    // @include media(519.5px) {
    //   // bottom: -163%;
    //   // bottom: -170%;
    //   bottom: -157%;
    // }

    // @include media(470px) {
    //   width: 400px;
    // }

    // @include media(400px) {
    //   // width: 350px;
    //   width: 300px;
    // }

    // @include media(376px) {
    //   // width: 350px;
    //   // bottom: -144%;
    //   // bottom: -163%;
    //   // bottom: -160%;
    // }

    // @include media(300px) {
    //   width: 270px;
    // }
    // @include media(286px) {
    //   bottom: -154%;
    //   bottom: -148%;
    // }
    // @include media(282px) {
    //   bottom: -154%;
    //   bottom: -148%;
    // }

    .box {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.1);
      display: flex;
      align-items: center;

      .download__box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.1);
        transition: 0.5s;


        &:hover {
        transform: scale(1.1);

        }

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;

        }
      }

      // @include md {
      //   width: 100%;
      //   margin: auto;
      // }

      // @include media(470px) {
      // }
    }
  }
}
