@import '../../../styles/components/_vars.scss';

.footer {
  padding: 0px 0 40px;
  background: $black;
  // border-top: 2px solid $black;


  @include lg {
    padding: 60px 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include lg {
      flex-direction: column;
      align-items: center;
    }

    .firstCard {
      gap: 10px;
      width: 100%;
      max-width: 311px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      @include lg {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .cardTitle {
        color: $white;
        font-size: 16px;
        line-height: 26px;
        font-weight: $f700;
      }

      .cardSubtitle {
        color: $white;
        font-size: 14px;
        line-height: 22px;
      }

      .cardImg {
        width: 151px;
        height: 121px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .secondCard {
      gap: 20px;
      width: 100%;
      max-width: 292px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 60px 0 40px;

      @include xl {
        margin: 0 30px 0 20px;
      }

      @include lg {
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
      }

      &:nth-child(3) {
        margin: 0;
        text-align: center;

      }

      &:nth-child(4) {
        margin-left: 60px;
        margin-right: 0;


        @include xl {
          // background: red;
        }

        @include lg {
          margin-left: 0px;
          text-align: center;
        }
      }

      .cardTitle {
        font-weight: $f700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 5px;
      }

      .cardSubtitle {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        opacity: 0.6;
      }
    }

  }
}