@import "../../../styles/components/_vars.scss";

.how {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  padding: 120px 0;
  transition: 2s;


  @include lg {
    padding: 60px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .how__title {
      width: 100%;
      max-width: 551px;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 30px;
    }

    .card__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 2s;


      .card__real__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        width: 100%;
        height: 100%;
        gap: 30px;
        transition: 2s;
        overflow: hidden;


        @include xxl {
        }

        @include xl {
          // background: #000;
          flex-wrap: wrap;
          justify-content: space-evenly;
          gap: 20px 0px;
        }

        @include lg {
          flex-direction: column;
          gap: 35px;
        }

        // @include xl {
        //   // background: #000;
        //   flex-wrap: wrap;
        //   justify-content: space-evenly;
        //   gap: 20px;
        // }

        // @include lg {
        //   flex-direction: column;
        // }

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          max-width: 270px;
          text-align: center;
          padding: 15px;
          cursor: pointer;
          position: relative;
          // max-height: 366px

          background: $white;
          box-shadow: 0px 4px 25px rgba(51, 51, 51, 0.05);
          border-radius: 6px;
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
          }

          .img__div {
            width: 100%;
          }

          .text__div {
            width: 100%;

            .text__title {
              gap: 5px;
              width: 100%;
              font-size: 24px;
              font-weight: bold;
              margin: 5px 0 10px;

              span {
                color: $grey;
                margin-right: 10px;
              }
            }

            .text__sub {
              width: 100%;
              line-height: 26px;
              text-align: center;
              color: $black;
            }
          }

          &:last-child {
            // padding: 95px 0;
            height: 100%;
            background: #f6f7f8;
            max-height: 343px;

            cursor: default;

            @include xl {
              // margin-right: 55px;
            }

            @include lg {
              margin-right: 0;
              background: #f6f7f8;
              padding: 16px;
            }

            .text__div {
              display: flex;
              flex-direction: column;
              gap: 10px;
              justify-content: center;
              height: 100%;
              padding: 50px;

              .download {
                transition: 0.5s;
                cursor: pointer;
                  &:hover {
                    transform: scale(1.1);
                  }
                &:last-child {
                  margin-top: 25px;
                  
                }
              }
            }
          }
        }
      }
    }
  }
}
